


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Bungee&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Frijole&family=Kaushan+Script&family=Lilita+One&family=Mozilla+Headline:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@300;400;700&family=Signika+Negative:wght@300..700&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}
@theme {
  --color-primary:#4fbf8b;
  --color-primary-dull: #44ae7c;
}
/* ખાસ modal transitions */
.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
/* index.css में सिर्फ यह जोड़ो */
@keyframes marqueeScroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}

/* Brand logo hover effect */
.brand-image {
    filter: grayscale(100%);
    opacity: 0.8;
    transition: all 0.3s ease;
}

.brand-image:hover {
    filter: grayscale(0%);
    opacity: 1;
}